
body {
    -webkit-font-smoothing: antialiased;
    font-family: Rubik-Medium, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../img/bg.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
  }

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 20px;
}
  
.logo-container img {
    width: 200px; /* Adjust the width as needed */
    height: auto;
}

.btn{
        background: rgba(12, 30, 47, 0.87);
        border-radius: 1rem;
        color: rgb(255, 255, 255);
        font-family: Rubik-Regular;
        font-size: 1.3rem;
        line-height: 3rem;
        text-align: center;
        width: 12rem;
        position: absolute;
        top: 12%;
        left: 0;
        margin-left: 83%;
        cursor: pointer;

}
/*starting content*/
.content{
    padding-top: 17rem;
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 2;
    color: #ffffffec;
    padding-bottom: 5%;
    
}

h1{
    font-size: 50px;
}

/*first box container
second box container*/
.Home-latest-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 12rem;
    width: 85%;
}


.Home-latest-info-block,
.Home-latest-info-block-2{
    align-items: center;
    background: rgba(57,108,153,.4);
    border-radius: 12px;
    display: flex;
    margin: 1.6rem 0;
    max-width: 35rem;
    padding: .3rem;
    width: 90%;
}

.Home-latest-info-img {
    background: linear-gradient(63.43deg,#264867 16.67%,#386187);
    border-radius: 12px;
    margin-right: 2rem;
    padding: 1.2rem;
    display: block;
}

.images.jsx-2945154129 {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
}


.Home-latest-info__title {
    color: #fff;
    font-family: Rubik-Regular;
    font-size: 2rem;
    letter-spacing: 0;
    line-height: 2.4rem;
}

.Home-latest-info__value {
    align-items: baseline;
    color: #fff;
    display: flex;
    font-size: 4.8rem;
    letter-spacing: 0;
    line-height: 6.1rem;
}

div {
    display: block;
}

/*choose block container*/


.default-container {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}


.default-container {
    margin:0px 90px 0px 90px;
    max-width: 110rem;
}

.Home-choose-title-section{
    background: #091927;
    border-radius: 1.2rem;
    padding: 3rem;
    font-family: Rubik-Medium,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    display: block;
}

.Home-title {
        color: #fff;
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: 0;
        margin-bottom: 3.2rem;
        text-align: center;
        display: block;
}
.Home-description {
    color: hsla(0,0%,100%,.8);
    font-family: Rubik-Regular;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 4rem;
    text-align: center;
}

/*choose-first and second*/

.Home-side-card-options {
    grid-column-gap: 3.2rem;
    display: grid;
    grid-template-columns: .8fr .8fr;

}

.Home-side-card-option ,
.Home-side-card-option-2{
    background: #13293c;
    border-radius: 1rem;
    max-width: 42rem;
    padding: 2rem;
    position: relative;
    display: block;
}

.Home-token-card-option-title {
    display: flex;
    justify-content: space-between;
}


.side-title {
    color: #fff;
    font-size: 1.9rem;
    display: block;
}

.side-bottoms {
    display: flex;
    justify-content: space-between

}

.side-bottom {
    border: 1px solid #848a93;
    border-radius: 1.2rem;
    color: #848a93;
    cursor: pointer;
    font-family: Rubik-Regular;
    font-size: 1rem;
    height: 2.5rem;
    line-height: 2.8rem;
    margin-left: 1rem;
    text-align: center;
    width: 7rem;
    display: block;
}

.Home-side-card-option-description {
    color: #fff;
    font-family: Rubik-Regular;
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin-bottom: 1.8rem;
    margin-top: 1.4rem;
    min-height: 5.7rem;
}
.link{
    line-height: inherit;
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    border-radius: 0;
    transition: color 200ms ease 0ms;
    font-size: inherit;
    width: fit-content;
    height: auto;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.Home-default-btn {
    margin-top: .3rem;
    text-decoration: none;
    background: #417cd5;
    border-radius: 1rem;
    cursor: pointer;
    height: 4rem;
    line-height: 3rem;
    text-align: center;
    display: block;
    color: #fff;
    font-family: Rubik-Regular;
    font-size: 1.3rem;
}

/*capital yeid */

.Home-deposit-container {
    padding-top: 7.5rem;
    display: block;
}



.Home-deposit-title-section .Home-title {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 4rem;
    text-align: center;
    display: block;
}

.Home-deposit-title-section .Home-description {
    color: hsla(0, 0%, 100%, 0.719);
    font-family: Rubik-Regular;
    font-size: 2.8rem;
    font-weight: 400;
    margin-bottom: 6rem;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    color: #ffffffc7;
    margin-bottom: 10rem;
  }

  tr {
    border-bottom: 1px solid #ddddddcb;
  }

  td{
    font-size: 30px;
    padding: 21px 0px;  
    font-family: Rubik-Regular; 
}

  th{
    font-size: 20px;
  }

.link{
    -webkit-box-align: baseline;
}

  div {
    display: inline-block;
    
}
  

.asset-img {
    align-items: center;
    display: flex;
    margin-left: 0;
}

.image{
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    max-width: 100%;
    width: 32px;
    height: 32px;
    margin: 0 0 0 auto;
    padding: 0 11px 0 0;
}

img.image{
    width: 37px;
    height: 34px;
    object-fit: scale-down;
    display: inline-block;
    
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}



.default-button{
background: #417cd5;
border-radius: 1.5rem;
cursor: pointer;
height: 3.8rem;
line-height: 4rem;
text-align: center;
font-size: 1.4rem;
display:block;
max-width: 9rem;
margin-left: 25%;

}

.default-containerr{
    margin-left: 20%;
}

.Home-descriptionn {
    color: hsla(0,0%,100%,.8);
    font-family: Rubik-Regular;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 4rem;
    margin-left: 25%;
}

/*footer*/

.footer-section{
    background-color: rgba(23, 45, 66, 0.733);
    display: block;
    padding-top: 4%;
    padding-bottom: 11%;
}

.footer-logo{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.image-icons {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
   
  }
  
  .image-icons img {
    width: 50px; 
    height: 50px; 
    margin: 10px;
  }


  body{
  @font-face {
    font-family: Rubik-Bold;
    font-style: normal;
    font-weight: 700;
    src: url(./assests/img/Rubik-Bold.ttf);
  }
 
  @font-face {
    font-family: Rubik;

    src: url(./assests/img/Rubik-Regular.ttf);
  }
}